<div class="section" style="padding-top:10%;padding-bottom:10%">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h5 class="subtitle is-5 is-uppercase">exclusive listings</h5>
                <h2 class="title is-2 pt-5">See our featured properties</h2>
                <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam excepturi labore, obcaecati sint repellendus sapiente voluptas autem sed, ullam aliquam culpa dolor odit velit, possimus quidem harum non iusto eum.</p>
                <a href="" class="about-btn has-text-black">View Properties</a>
            </div>
            <div class="column">
                <div class="bg-image" style="background:url(https://d3g7t4t7rv9de8.cloudfront.net/rdx8XfQbk2xmK5Rb5-01.jpg?width=1920) no-repeat center;background-size:cover;height: 500px;">
                    <div class="inner-box">
                        <h4 class="subtitle is-6">Los Angeles</h4>
                        <h2 class="title is-5">View Our Featured Homes</h2>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="bg-image" style="background:url(https://d3g7t4t7rv9de8.cloudfront.net/rdx8XfQbk2xmK5Rb5-01.jpg?width=1920) no-repeat center;background-size:cover;height: 500px">
                    <div class="inner-box">
                        <h4 class="subtitle is-6">Los Angeles</h4>
                        <h2 class="title is-5">View Our Featured Homes</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>