{{ partial "global/navbar.html" . }}
<section class="hero is-fullheight" style="background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(https://d3g7t4t7rv9de8.cloudfront.net/3BgXaw8KpRnMaJQsd-1895RisingGlen024.jpg?width=1857) no-repeat center;background-size:cover">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title is-1 has-text-white">
          Ben Bacal
        </h1>
        <h2 class="subtitle has-text-white">
          Fullheight subtitle
        </h2>
      </div>
    </div>
  </section>