<div class="video__section">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="center">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/289201974" width="640" height="360" frameborder="0" allowfullscreen></iframe>
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/289201974" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/289201974" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/289201974" width="640" height="360" frameborder="0" allowfullscreen></iframe>
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/289201974" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/289201974" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/289201974" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    
                </div>
            </div>
        </div>
    </div>
</div>