{{ define "main" }}
{{ partial "templates/filter.html" . }}
<div class="section">
    <div class="container">
        <div class="columns pb-6">
            <div class="column is-half is-offset-one-quarter has-text-centered page-title">
                <h1 class="title is-2">Our <span class="primary-color">Exclusive</span> Properties</h1>
                <p>{{ .Site.Data.pageconfig.listing_page.body_text }}</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <span style="font-size:16px;cursor:pointer" onclick="openNav()">&#9776; Filter</span>
            </div>
        </div>
        <div class="columns is-multiline">
            {{ range .Pages }}
            {{ if isset .Params "city" }}
            <div class="column is-3">
                <a href="{{ .Permalink }}" class="listing-container">
                {{ range first 1 .Params.photos.gallery }}
                <div class="featured-listing has-text-centered" style="background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)),url({{ . }}) no-repeat center;background-size:cover;height:300px">
                {{ end }}
                    <div class="featured-listing-content">
                        <h1 class="title is-6 has-text-white">{{ .Title }}</h1>
                        <p class="primary-color">${{ lang.NumFmt 0 .Params.weight }}</p>
                    </div>
                </div>
            </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}